@import url("Font.css");

* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;

    background-image: url("../JPEG/Night Image.jpg");

    min-height: 1200px; 
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #00000000;
  }

.caption span.border {
    background-color: #11111100;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: 'Lato-bold', sans-serif;
  }