body {
  margin: 0;
  padding: 0;
  font-family: serif Arial, Helvetica, sans-serif;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background image behavior */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*  splash content positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 26px;
  margin-bottom: 0.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loading-icon {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
