* {
    box-sizing: border-box;
}

.slide-show-container {
    /* overflow: hidden; */
    margin: auto;
    position: relative;
    height: 100%;
}

.slides {
    width: 100%;
    display: flex;
    height: 100%;
    display: flex;
}

#prevbtn {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 5%;
    cursor: pointer;
}

#nextbtn {
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 5%;
    cursor: pointer;
}
