@import url("../Templated Super CSS/ParallexExtension.css");

#dark-parallex-text-field {
    color: rgb(233, 233, 233);
    background-color: rgb(31, 31, 31);
    padding-top: 20px;
    padding-bottom: 100px;
}

#dark-parallex-text-header {
    font-size: 20px;
    padding-bottom: 20px;
}

#dark-parallex-text-paragraph {
    font-size: 15px;
    padding-bottom: 20px;
}

#light-parallex-text-field {
    color: rgb(71, 71, 71);
    background-color: rgb(244, 244, 244);
    padding-top: 20px;
    padding-bottom: 70px;
    flex: 0 0 auto;
}

#light-parallex-text-header {
    font-size: 20px;
    padding-bottom: 20px;
}

#light-parallex-text-paragraph {
    font-size: 15px;
    padding-bottom: 20px;
}

#grey-parallex-text-field {
    color: rgb(255, 255, 255);
    background-color: rgb(200, 200, 200);
    padding-top: 20px;
    padding-bottom: 50px;
}

#grey-parallex-text-header {
    font-size: 20px;
    padding-bottom: 20px;
}

#grey-parallex-text-paragraph {
    font-size: 15px;
    padding-bottom: 20px;
}